
body{
    background-color: #FADADD;
}

.contact-info {
    margin-top: 60px;
}


.contact-link {
    text-decoration: none;
    color: #0077b5; 
    transition: color 0.3s ease, transform 0.3s ease; 
    position: relative; 
    display: inline-block; 
}


.contact-link:hover {
    transform: scale(1.1);
}